.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: inherit;
}
#nprogress .bar {
    height: 3px;
    background: #FCD781 !important;
    z-index: 99999999;
}

#nprogress .peg {
    z-index: 99999999;
    box-shadow: 0 0 10px #FCD781, 0 0 5px #FCD781;
}

#nprogress .spinner-icon {
    border-top-color: #FCD781;
    border-left-color: #FCD781;
    z-index: 99999999;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

.a_cursor {
    cursor: pointer;
}

.a_none {
    color: white !important;
}

.a_default {
    color: white !important;
    text-decoration: none;
}

.pagination {
    margin: 0 !important;
}
.borderless td, .borderless th {
    border: none !important;
}
.checkbox_prop {
    margin: 0 4px 4px 0;
    width: 21px;
    height: 21px;
    border: 2px solid #ddd;
    float: left;
    list-style: none;
}

.checkbox_prop-value {
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -10000px;
    overflow: hidden;
    background: #ccc;
    margin-top: 1px;
    margin-left: 1px;
}


h1 {
    font-size: 25px;
}

.page-header {
    margin-top: 0;
}

/*.table tbody>tr>td.vert-center, .table thead>tr>td.vert-center, .table thead>tr>th.vert-center {
    vertical-align: middle;
    text-align: center;
}*/

.table_center_middle tbody>tr>td, .table_center_middle thead>tr>td, .table_center_middle thead>tr>th {
    vertical-align: middle;
    text-align: center;
}

.table_right_middle {
    vertical-align: middle !important;
    text-align: right !important;
}

.borderless td, .borderless th {
    border: none !important;
}

.table tbody>tr>td.vert-center, .table thead>tr>td.vert-center, .table thead>tr>th.vert-center {
    vertical-align: middle;
    text-align: center;
}

.a_tooltip {
    cursor: pointer;
    color: gray;
}

.select2-selection__choice a {
    color: white !important;
}

.select2-results__option a {
    color: #333333 !important;
}

.select2-results__option--highlighted a {
    color: white !important;
}
