.select2 {
    display: block;
}

.vcenter {
    /*display: inline-block;*/
    vertical-align: middle;
    /*float: none;*/
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

.container {
    margin-top: 15px;
}

button,
.btn {
    outline: none !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.container label {
    margin-top: 5px;
}

.box {
    border-top: none!important;
}

table {
    font-size: 13px;
}

table tbody tr td {
    vertical-align: middle;
    padding: 0 !important;
}

.voucher_modal tr td {
    vertical-align: middle;
    padding: 10px !important;
}

.voucher tr td {
    vertical-align: middle;
    padding: 10px !important;
}